/* @font-face {
    font-family: 'Ostrich Sans';
    src: local('Ostrich Sans'), url(./fonts/OstrichSans-Heavy.otf) format('opentype');
  } */

.App {
  background-image: url('../images/woodBG.jpg');
  background-size: cover;
  /* height: 2300px; */
  /* background-color: #222; */
}