#main-header {
    background: url('../images/petConnect.png') no-repeat center;
    background-size: 1300px;
    height: 800px;
    width: 100%;
}
#pet-text{
color: #cacf33;
font-weight :'1600'; 
font-size: 800%; 
font-family: 'Permanent Marker', cursive;
margin-top: 200px; 
margin-left: 290px;
position: absolute;
}

#pet-header-logo{
margin-top: 258px;
margin-left: 675px;
position: absolute;
}