.loginContainer {
    font-family: "Montserrat";
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    margin-top: -900px;
    margin-left: 0px;
    height:900px; 
    width: 1440px;
    background-color: rgba(0, 0, 0, 0.5);
    background-size: cover;
}

.loginForm {
    margin-top: 200px;
    width: 500px;
    height: 400px;
    font-family: 'Caveat', serif;
    font-size: 370%;
    color: whitesmoke;
}

.loginInput {
    background:  rgba(202, 207, 51,0.8);
    color: whitesmoke;
    padding-left: 10px;
    border-radius: 15px;
    border: none;
    width: 260px;
    height: 40px;
}
.loginSubmit {
    color:whitesmoke;
    font-weight: bold;
    font-size: 20px;
    background-color: rgb(202, 207, 51);
    border-radius: 15px;
    border: none;
    margin-left: 100px;
    width: 260px;
    height: 40px;
}
input {
    display: block
}

.signup{
    font-weight: bold;
    display: inline;
    cursor: hand;
}

#bla {
    color: rgb(249, 249, 249);
    border: 5px;
    margin-top: -80px;
    font-size: 500%;
    font-family: 'Caveat', cursive;
}
.signup:hover {
    color: #cacf33;    
}